$base-theme: Default;
$skin-name: *****;
$accent: #0084ae;
$info: #3e80ed;
$success: #5ec232;
$warning: #fdce3e;
$error: #d51923;
$text-color: #050505;
$bg-color: #ffffff;
$base-text: #9aa5b8;
$base-bg: #ffffff;
$hovered-text: #ffffff;
$hovered-bg: #9aa5b8;
$selected-text: #ffffff;
$selected-bg: #0084ae;
$series-a: #ff6358;
$series-b: #ffd246;
$series-c: #78d237;
$series-d: #28b4c8;
$series-e: #2d73f5;
$series-f: #aa46be;
