// MARGIN & PADDING

$tile-width: 134px;
$tile-height: 145px;
$tile-gap-v: 11px;
$tile-gap-h: 9px;
$tile-gap-section: 27px;

// $tile-width: 148px;
// $tile-height: 160px;
// $tile-gap-v: 12px;
// $tile-gap-h: 10px;
// $tile-gap-section: 30px;

// $tile-width: 209px;
// $tile-height: 226px;
// $tile-gap-v: 17px;
// $tile-gap-h: 14px;
// $tile-gap-section: 42px;
